Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, ruff check, deal lint, mypy, pylic

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-workflows
        name: validate github workflows
        args: ["--verbose"]
      - id: check-renovate
        name: validate renovate config
        args: ["--verbose"]


  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: ruff check
        name: ruff check
        language: system
        entry: poetry run ruff check --fix .
        types: [python]

      - id: ruff check
        name: ruff check
        language: system
        entry: poetry run ruff format .
        types: [python]

      - id: deal lint
        name: deal lint
        language: system
        entry: poetry run python3 -m deal lint
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

      - id: pylic
        name: validate dependency licenses
        language: system
        entry: poetry run pylic check
        pass_filenames: false
        files: 'pyproject\.toml'

Bump version to 1.0.0
  pyproject.toml
Due: pyproject.toml, pylic

Pin more actions to git digest and update them
  .github/workflows/integration.yaml
Due: none

Remove .tool-versions
  .tool-versions
Due: none

Lock file maintenance at any time
  renovate.json
Due: none

Remove prHourlyLimit and prConcurrentLimit
  renovate.json
Due: none

Stop lockfile update spam
  renovate.json
Due: none

Cut back on renovatebot spam
  renovate.json
Due: none

renovatebot to manage pre-commit
  renovate.json
Due: none

Default renovate schedule to weekly from monthly
  renovate.json
Due: none

Remove CodeClimate reporting
  .github/workflows/coverage.yaml
  README.rst
Due: none

ignore PLC0415 here
  tests/test_module/test_module.py
Due: ruff check, deal lint, mypy

poetry update
  poetry.lock
Due: none

Use admonitions to call out important things
  README.rst
Due: none

Revert "Use admonitions to call out important things"
  README.rst
Due: none

Charspace.charset returns a string rather than a set
  dumbpw/charspace.py
  dumbpw/engine.py
Due: ruff check, deal lint, mypy

rm duplicated precondition
  dumbpw/engine.py
Due: ruff check, deal lint, mypy

Apply deal contracts first
  dumbpw/cli.py
Due: ruff check, deal lint, mypy

Rename exceptions.py -> errors.py
  dumbpw/cli.py
  dumbpw/engine.py
  dumbpw/errors.py
Due: ruff check, deal lint, mypy

Explicitly set the click command name
  dumbpw/cli.py
Due: ruff check, deal lint, mypy

Add DumbExitCode enum
  dumbpw/errors.py
Due: ruff check, deal lint, mypy

Fix blocklist validation bug
  dumbpw/engine.py
Due: ruff check, deal lint, mypy

Exit with DumbExitCode.OK
  dumbpw/cli.py
Due: ruff check, deal lint, mypy

Add test_cli for end-to-end cli tests
  tests/test_cli/__init__.py
  tests/test_cli/test_cli.py
Due: ruff check, deal lint, mypy

Set DumbExitCode.USAGE to 2
  dumbpw/errors.py
Due: ruff check, deal lint, mypy

Add test for DUMBPW_SPECIALS env var
  tests/test_cli/test_cli.py
Due: ruff check, deal lint, mypy

Bump version to 1.0.1
  pyproject.toml
Due: pyproject.toml, pylic

Bump version to 1.0.2
  pyproject.toml
Due: pyproject.toml, pylic

Set a 1 second deadline for engine tests
  tests/test_engine/test_search.py
Due: ruff check, deal lint, mypy

Rename SETTINGS_STRATEGY -> PROPERTY_STRATEGY
  tests/test_engine/test_search.py
Due: ruff check, deal lint, mypy

Revert "Set a 1 second deadline for engine tests"
  tests/test_engine/test_search.py
Due: ruff check, deal lint, mypy

Sort object properties by name
  dumbpw/settings.py
Due: ruff check, deal lint, mypy

Add pre-commit to dev dependencies
  poetry.lock
  pyproject.toml
Due: pyproject.toml, pylic

Rename test var text -> blocklist
  tests/test_charspace/test_charspace.py
Due: ruff check, deal lint, mypy

Iterate over the blocklist first
  tests/test_charspace/test_charspace.py
Due: ruff check, deal lint, mypy

Add pigeonhole test for unreachable requirements
  tests/test_engine/test_search.py
Due: ruff check, deal lint, mypy

Simplify charspace initialization
  dumbpw/engine.py
Due: ruff check, deal lint, mypy

Flip comparisons to read left-to-right.
  dumbpw/candidate.py
Due: ruff check, deal lint, mypy

Remove redundant return
  dumbpw/candidate.py
Due: ruff check, deal lint, mypy

Better error message
  dumbpw/engine.py
Due: ruff check, deal lint, mypy

Remove default value for --specials
  dumbpw/cli.py
Due: ruff check, deal lint, mypy
