Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

.pre-commit-config.yaml:

---
default_stages: [commit]

repos:
  - repo: meta
    hooks:
      # - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      # We re-set the `stages` setting because pre-commit-hooks over-rides it
      # otherwise.
      # See https://github.com/pre-commit/pre-commit-hooks/issues/515
      - id: end-of-file-fixer
        stages: [commit]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]

      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0  # Use the ref you want to point at
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/PyCQA/doc8
    rev: 0.10.1
    hooks:
      - id: doc8

  - repo: local
    hooks:
      - id: pytest
        name: run all tests
        stages: [push]
        language: system
        entry: poetry run pytest --full-trace
        pass_filenames: false

      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: version
        name: verify version is set correctly
        language: system
        entry: pytest --quiet --no-header --no-summary --no-cov -k version
        files: 'pyproject\.toml|downforeveryone/__init__.py'
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [python]

      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types: [shell]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

deal 4.19.1 is required
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Add test runner for pwgen.search()
  tests/test_pwgen/test_pwgen.py
Due: isort, black, flake8, mypy

Use named parameters when calling generate
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Add flake8-docstrings
  pyproject.toml
Due: pyproject.toml, version

I cannot figure out if this works or if it doesn't
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

poetry update
  poetry.lock
Due: none

poetry install on poetry.lock update
  .pre-commit-config.yaml
Due: none

poetry lock
  poetry.lock
Due: none

Confirmed: shared contracts with extended sigs does NOT work
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Need stages so hooks don't run twice on every commit
  .pre-commit-config.yaml
Due: none

Enforce keyword only parameters
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

This is alpha software
  README.rst
Due: none

Fix rst syntax hopefully
  README.rst
Due: none

rm Tuple type import per PEP 585
  dumbpw/charspace.py
Due: isort, black, flake8, mypy

Make mypy extra more paranoid
  mypy.ini
Due: none

Add more doctests for Candidate class
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Add own exception types
  dumbpw/cli.py
  dumbpw/exceptions.py
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Remove google docstring setting
  setup.cfg
Due: none

Add pprint and hypothesis to pythonrc
  pythonrc.py
Due: isort, black, flake8, mypy

Hide pythonrc.py
  .envrc
  .pythonrc.py
Due: isort, black, flake8, mypy

Fix pytest failure to understand hidden python files
  .envrc
Due: none

Pedantic ordering of precondition options
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Remove duplicated precondition
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Add strategy limits to candidate minimums in tests
  tests/test_pwgen/test_pwgen.py
Due: isort, black, flake8, mypy

Add hypothesis as an explicit dev dependency
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Bump version to v0.2.0
  pyproject.toml
Due: pyproject.toml, version

Ignore .pythonrc.py in CI
  .circleci/config.yml
Due: none

Remove 'alpha software' warning :grimacing:
  README.rst
  pyproject.toml
Due: pyproject.toml, version

Make --length into a positional argument
  dumbpw/cli.py
  pyproject.toml
Due: pyproject.toml, version, isort, black, flake8, mypy

Add "Known issues" to README
  README.rst
  pyproject.toml
Due: pyproject.toml, version

Add another known issue
  README.rst
Due: none

Update usage info
  README.rst
Due: none

Bump version to v0.3.2
  pyproject.toml
Due: pyproject.toml, version

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Simplify charset into dataclass
  dumbpw/charspace.py
Due: isort, black, flake8, mypy

Remove failing test for useless functionality :D
  tests/test_charspace/test_charspace.py
Due: isort, black, flake8, mypy

Set MIN_PASSWORD_LENGTH to 5
  dumbpw/cli.py
  dumbpw/constants.py
Due: isort, black, flake8, mypy

Set some default minimums
  dumbpw/cli.py
Due: isort, black, flake8, mypy

Clean up duplication in .editorconfig
  .editorconfig
Due: none

Reword some stuff in the readme
  README.rst
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version
