Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

version:
  name: verify version is set correctly
  language: system
  entry: pytest --quiet --no-header --no-summary --no-cov -k version
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

Revert "Try to suppress health check when running in CI"
  tests/conftest.py
Due: isort, black, flake8, mypy

Try blocking the health check in the problem area
  tests/test_engine/test_search.py
Due: isort, black, flake8, mypy

Also load CI profile in test_engine
  tests/test_engine/test_generate.py
Due: isort, black, flake8, mypy

poetry update
  poetry.lock
Due: none

Why won't this health check die?
  tests/test_engine/test_generate.py
  tests/test_engine/test_search.py
Due: isort, black, flake8, mypy

Add experimental flake8-simplify checks
  setup.cfg
Due: none

add flake8-pie
  dumbpw/engine.py
  poetry.lock
  pyproject.toml
  setup.cfg
Due: pyproject.toml, version, isort, black, flake8, mypy

Sort dev-dependencies into group.dev.dependencies
  pyproject.toml
Due: pyproject.toml, version

indent_size is 4 unless otherwise specified
  .editorconfig
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

LICENSE doesn't need to have the actual terms in it
  LICENSE
Due: none

Remove major version constraints on dependencies
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

cosmetics
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Add test_cli.py
  poetry.lock
  pyproject.toml
  tests/test_cli/__init__.py
  tests/test_cli/test_cli.py
Due: pyproject.toml, version, isort, black, flake8, mypy

use shellcheck-py
  .pre-commit-config.yaml
Due: none

rm cruft
  .pre-commit-config.yaml
Due: none

Add pyupgrade hook
  .pre-commit-config.yaml
  dumbpw/charspace.py
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Add pylic
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Switch from flake8 and isort to ruff
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

More pythonic is more better
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Use contracts for copy method
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

rm isort hook
  .pre-commit-config.yaml
Due: none

Add more contracts for candidate methods
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Add docstring for Candidate
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

update renovate config
  renovate.json
Due: none

Revert "rm isort hook"
  .pre-commit-config.yaml
Due: none

Revert "Switch from flake8 and isort to ruff"
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

source_up_if_exists is better
  .envrc
Due: none

Add ptpython to dependencies
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Drop python 3.9 support
  .github/workflows/integration.yaml
  pyproject.toml
Due: pyproject.toml, version

Try other approach to load CI profile
  tests/test_engine/test_generate.py
Due: isort, black, flake8, mypy

Still maintained
  README.rst
Due: none

Fix broken decorator
  tests/test_engine/test_generate.py
Due: isort, black, flake8, mypy

Set max length for generated test passwords
  tests/test_engine/test_generate.py
Due: isort, black, flake8, mypy

Recursively match files under dumbpw/ and tests/ for triggering CI runs
  .github/workflows/coverage.yaml
  .github/workflows/integration.yaml
Due: none

poetry lock --no-update
  poetry.lock
Due: none

Use source_up_if_exists
  .envrc
Due: none

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  version: any of: pyproject\.toml|downforeveryone/__init__.py
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
