Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, deal lint, isort, black, flake8, mypy

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.2
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: deal lint
        name: deal lint
        language: system
        entry: poetry run python3 -m deal lint
        types: [python]

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

Use settings.get_profile
  tests/test_engine/test_generate.py
Due: deal lint, isort, black, flake8, mypy

Add schema validation to pre-commit
  .pre-commit-config.yaml
Due: none

Don't wait for linters before running tests
  .github/workflows/integration.yaml
Due: none

Add tool-versions
  .tool-versions
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

poetry update
  poetry.lock
Due: none

Add closure for is_valid_password
  dumbpw/engine.py
Due: deal lint, isort, black, flake8, mypy

Add Apache to allowlist
  pyproject.toml
Due: pyproject.toml

Revert "Add Apache to allowlist"
  pyproject.toml
Due: pyproject.toml

Happy new year, we are still maintained
  README.rst
Due: none

Add Python 3.11 support classifier
  pyproject.toml
Due: pyproject.toml

Bump version to 0.5.0
  pyproject.toml
Due: pyproject.toml

PATH_add bin/
  .envrc
Due: none

whitespace
  bin/ship
Due: none

Fix ruff errors in candidate.py
  dumbpw/candidate.py
Due: deal lint, isort, black, flake8, mypy

Remove flake8/isort/black, add ruff
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  ruff.toml
Due: pyproject.toml

Fix ruff errors in constants.py
  dumbpw/constants.py
Due: deal lint, isort, black, flake8, mypy

Ignore T201 in cli.py
  ruff.toml
Due: none

Fix ruff errors in charspace.py
  dumbpw/charspace.py
Due: deal lint, isort, black, flake8, mypy

Fix ruff errors in __init__.py
  dumbpw/__init__.py
Due: deal lint, isort, black, flake8, mypy

Fix ruff errors in tests
  tests/test_engine/test_generate.py
  tests/test_engine/test_search.py
Due: deal lint, isort, black, flake8, mypy

Fix ruff errors in engine.py
  dumbpw/engine.py
Due: deal lint, isort, black, flake8, mypy

Rename DumbException to DumbError
  dumbpw/exceptions.py
Due: deal lint, isort, black, flake8, mypy

Add docstring for public module cli
  dumbpw/cli.py
Due: deal lint, isort, black, flake8, mypy

ruff format
  dumbpw/cli.py
  dumbpw/constants.py
  dumbpw/exceptions.py
Due: deal lint, isort, black, flake8, mypy

Add docstrings for public module exceptions
  dumbpw/exceptions.py
Due: deal lint, isort, black, flake8, mypy

pre-commit ruff only on changed files
  .pre-commit-config.yaml
Due: none

Add system hooks for ruff
  .pre-commit-config.yaml
Due: none

ruff ignore ISC001
  ruff.toml
Due: none

noqa import formatting errors in cli.py
  dumbpw/cli.py
Due: deal lint, isort, black, flake8, mypy

Fix Candidate.__slots__
  dumbpw/candidate.py
Due: deal lint, isort, black, flake8, mypy

noqa PLR0913
  dumbpw/cli.py
  dumbpw/engine.py
Due: deal lint, isort, black, flake8, mypy

Simpler docstring
  dumbpw/cli.py
Due: deal lint, isort, black, flake8, mypy

Remove MIT and Apache from allowed licenses
  pyproject.toml
Due: pyproject.toml

Always ignore pynvim
  pyproject.toml
Due: pyproject.toml

ruff format
  dumbpw/cli.py
Due: deal lint, isort, black, flake8, mypy

Fix ruff format hook id
  .pre-commit-config.yaml
Due: none
