Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, ruff format, ruff check, deal lint, mypy

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.33.0
    hooks:
      - id: check-github-workflows
        name: validate github workflows
        args: ["--verbose"]

  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 38.142.7
    hooks:
      - id: renovate-config-validator

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/PyCQA/doc8
    rev: v2.0.0
    hooks:
      - id: doc8

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: ruff format
        name: ruff format
        language: system
        entry: poetry run ruff format
        types: [python]
        pass_filenames: true

      - id: ruff check
        name: ruff check
        language: system
        entry: poetry run ruff check --fix
        types: [python]
        pass_filenames: true

      - id: deal lint
        name: deal lint
        language: system
        entry: poetry run python3 -m deal lint
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

Migrate ship to use uv
  bin/ship
Due: none

Revert "Bump version to 1.0.4"
  pyproject.toml
Due: pyproject.toml

Switch workflow from poetry to uv
  .github/workflows/integration.yaml
Due: none

Start migration in ship from poetry to uv
  bin/ship
Due: none

Use pre-commit action from the marketplace
  .github/workflows/integration.yaml
Due: none

Reduce fail_under to 98
  .coveragerc
Due: none

Revert "Use pre-commit action from the marketplace"
  .github/workflows/integration.yaml
Due: none

Always exit non-zero on ruff format
  .pre-commit-config.yaml
Due: none

uv lock
  uv.lock
Due: none

Restore missing matrix value for python-version
  .github/workflows/integration.yaml
Due: none

Don't manually install pre-commit in CI
  .github/workflows/integration.yaml
Due: none

Remove crufty comment about poetry
  .github/workflows/integration.yaml
Due: none

ruff format
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Remove useless conditional checks
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Add Candidate.must_repeat() check
  dumbpw/candidate.py
  tests/test_candidate/test_candidate.py
Due: ruff format, ruff check, deal lint, mypy

Simplify evaluation of settings.specials
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Still maintained in 2026
  README.rst
Due: none

Now supporting pithon
  .github/workflows/integration.yaml
  pyproject.toml
Due: pyproject.toml

Remove crufty deal.activate
  dumbpw/charspace.py
Due: ruff format, ruff check, deal lint, mypy

Simplify doctests
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Add some doctests
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Decorate Candidate.must_repeat as a property
  dumbpw/candidate.py
  tests/test_candidate/test_candidate.py
Due: ruff format, ruff check, deal lint, mypy

Add __repr__ method
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Fix broken doctest
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Store Candidate text as list, not str
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Use property readers instead of frozen dataclass
  dumbpw/charspace.py
Due: ruff format, ruff check, deal lint, mypy

Add Charspace.charset_shuffled()
  dumbpw/charspace.py
Due: ruff format, ruff check, deal lint, mypy

Add __repr__ method
  dumbpw/charspace.py
Due: ruff format, ruff check, deal lint, mypy

Add __str__ and __getitem__ methods
  dumbpw/charspace.py
Due: ruff format, ruff check, deal lint, mypy

More doctests
  dumbpw/charspace.py
Due: ruff format, ruff check, deal lint, mypy

Add properties for shuffled charspace domains
  dumbpw/charspace.py
Due: ruff format, ruff check, deal lint, mypy

Add support for item assignment and deletion
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Remove module.load contracts
  dumbpw/candidate.py
  dumbpw/charspace.py
  dumbpw/constants.py
Due: ruff format, ruff check, deal lint, mypy

More doctests
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Add __iter__ method
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Don't depend on the __str__ method in other methods
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Add raises(IndexError) to RUD methods
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Increase count of test_search cases from default to 500
  tests/test_engine/test_search.py
Due: ruff format, ruff check, deal lint, mypy

repr returns state in list form
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy
