Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, ruff format, ruff check, deal lint, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

ruff format:
  name: ruff format
  language: system
  entry: poetry run ruff format
  pass_filenames: true

ruff check:
  name: ruff check
  language: system
  entry: poetry run ruff check --fix
  pass_filenames: true

deal lint:
  name: deal lint
  language: system
  entry: poetry run python3 -m deal lint

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

Don't import types unless we're doing type checking
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Remove no_args_is_help=True
  dumbpw/cli.py
Due: ruff format, ruff check, deal lint, mypy

Make explicit use of walrus operator is a zero-index check
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Remove copyright notice
  LICENSE
Due: none

Remove useless override
  pyproject.toml
Due: pyproject.toml

rm mypy, add ty
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: pyproject.toml

Rename unused argument
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Fix invalid-return-type errors
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Ignore invalid-assignment
  tests/test_settings.py
Due: ruff format, ruff check, deal lint, mypy

Add ty.toml
  ty.toml
Due: none

rm pyupgrade hook
  .pre-commit-config.yaml
Due: none

ruff ignore CPY001
  ruff.toml
Due: none

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  ruff format: any of: \.py$
  ruff check: any of: \.py$
  deal lint: any of: \.py$
  mypy: any of: \.py$
