Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

version:
  name: verify version is set correctly
  language: system
  entry: pytest --quiet --no-header --no-summary --no-cov -k version
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

Revert "Use Charset type when generating passwords"
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Fix a bug where .charset() returned stringified set
  dumbpw/charspace.py
  tests/test_charspace/test_charspace.py
Due: isort, black, flake8, mypy

Rewrite unnecessary set() as comprehension
  dumbpw/charspace.py
Due: isort, black, flake8, mypy

No one thing is best for everyone
  README.rst
Due: none

Add test for charspace blocklist
  tests/test_charspace/test_charspace.py
Due: isort, black, flake8, mypy

Add docstring for test_blocklist
  tests/test_charspace/test_charspace.py
Due: isort, black, flake8, mypy

Add test for charset deduplication
  tests/test_charspace/test_charspace.py
Due: isort, black, flake8, mypy

Rename charspace arg to charset (again?)
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Remove layout_poetry()
  .envrc
Due: none

Always print color in pytest
  .envrc
Due: none

Add '";\ to default blocklist
  dumbpw/charspace.py
  tests/test_charspace/test_charspace.py
Due: isort, black, flake8, mypy

Add test for base charset composition
  tests/test_charspace/test_charspace.py
Due: isort, black, flake8, mypy

Add __iter__ representation
  dumbpw/charspace.py
  tests/test_charspace/test_charspace.py
Due: isort, black, flake8, mypy

Add deal lint to pre-commit hooks
  .pre-commit-config.yaml
Due: none

Revert "Add '";\ to default blocklist"
  dumbpw/charspace.py
  tests/test_charspace/test_charspace.py
Due: isort, black, flake8, mypy

Add candidate module
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Add cli
  dumbpw/cli.py
  pyproject.toml
Due: pyproject.toml, version, isort, black, flake8, mypy

Fix importerror when running from cli entrypoint
  dumbpw/cli.py
Due: isort, black, flake8, mypy

Accept string for generate charset
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

black target version is py310
  pyproject.toml
Due: pyproject.toml, version

Don't show all defaults all the time
  dumbpw/cli.py
Due: isort, black, flake8, mypy

Add usage to readme
  README.rst
Due: none

Add local build & install instructions
  README.rst
Due: none

poetry install && poetry shell
  README.rst
Due: none

Fix CircleCI badge branch
  README.rst
Due: none

Add cli --version option
  dumbpw/cli.py
Due: isort, black, flake8, mypy

poetry lock
  poetry.lock
Due: none

Add ship script
  ship
Due: none

Remove use-type-annotations hook
  .pre-commit-config.yaml
Due: none

Add readme to build
  pyproject.toml
Due: pyproject.toml, version

Simplify installation instructions
  README.rst
Due: none

Add classifiers
  pyproject.toml
Due: pyproject.toml, version

include_trailing_comma in isort
  pyproject.toml
Due: pyproject.toml, version

Simplify logic for comparing length to requests
  dumbpw/cli.py
Due: isort, black, flake8, mypy

Add check for if a candidate has duplicates
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Add --allow-repeating argument to permit repeats
  dumbpw/cli.py
Due: isort, black, flake8, mypy

Add .pythonrc.py
  dumbpw/.pythonrc.py
Due: isort, black, flake8, mypy

Fix return type on has_duplicates property
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Add has_repeating property
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Check for repeating chars, not duplicates
  dumbpw/cli.py
Due: isort, black, flake8, mypy

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  version: any of: pyproject\.toml|downforeveryone/__init__.py
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
