Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, ruff check, deal lint, mypy, pylic

.pre-commit-config.yaml:

---
repos:
  - repo: meta
    hooks:
      - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-executables-have-shebangs
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.27.3
    hooks:
      - id: check-github-workflows
        name: validate github workflows
        args: ["--verbose"]
      - id: check-renovate
        name: validate renovate config
        args: ["--verbose"]


  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py311-plus]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.6
    hooks:
      - id: shellcheck

  - repo: local
    hooks:
      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: ruff check
        name: ruff check
        language: system
        entry: poetry run ruff check --fix .
        types: [python]

      - id: ruff check
        name: ruff check
        language: system
        entry: poetry run ruff format .
        types: [python]

      - id: deal lint
        name: deal lint
        language: system
        entry: poetry run python3 -m deal lint
        types: [python]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

      - id: pylic
        name: validate dependency licenses
        language: system
        entry: poetry run pylic check
        pass_filenames: false
        files: 'pyproject\.toml'

Revert "Always ignore pynvim"
  pyproject.toml
Due: pyproject.toml, pylic

Style is now ruff, not black. Woo!
  README.rst
Due: none

Add 3.12 support
  pyproject.toml
Due: pyproject.toml, pylic

Add renovate config schema enforcement
  renovate.json
Due: none

Add renovate management of GHA versions
  renovate.json
Due: none

Classify user options into Settings
  dumbpw/cli.py
  dumbpw/engine.py
  tests/test_engine/test_search.py
Due: ruff check, deal lint, mypy

ruff format before ruff check
  .pre-commit-config.yaml
Due: none

Add 3.12 testing
  .github/workflows/integration.yaml
Due: none

Remove macOS and windows testing
  .github/workflows/integration.yaml
Due: none

Remove setup.cfg
  setup.cfg
Due: none

Use renovatebot's pre-commit hook for config validation
  .pre-commit-config.yaml
Due: none

Remove pylic
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
Due: pyproject.toml, pylic

pytest.addopts +=('-rA')
  pyproject.toml
Due: pyproject.toml, pylic

Add pex build script
  bin/pex
Due: none

Still maintained in 2025
  README.rst
Due: none

Bump version to 0.7.0
  pyproject.toml
Due: pyproject.toml, pylic

Build before shipping a release
  bin/ship
Due: none

Add support for python 3.13
  .github/workflows/integration.yaml
Due: none

Revert "Build before shipping a release"
  bin/ship
Due: none

Ship awareness of separate env vars for distribution to pypi_test
  bin/ship
Due: none

Update shared actions using pinned digest versions
  .github/workflows/integration.yaml
Due: none

Fix contracts to check Settings object
  dumbpw/engine.py
Due: ruff check, deal lint, mypy

Fix contract with wrong boolean arithmetic :)
  dumbpw/engine.py
Due: ruff check, deal lint, mypy

Use my own constants to set search test strategy
  tests/test_engine/test_search.py
Due: ruff check, deal lint, mypy

Add dumbpw to testpaths.
  pyproject.toml
Due: pyproject.toml, pylic

Improve doctest for Candidate
  dumbpw/candidate.py
Due: ruff check, deal lint, mypy

Fix broken doctest on Candidate.specials
  dumbpw/candidate.py
Due: ruff check, deal lint, mypy

More doctests for Candidate.has_repeating
  dumbpw/candidate.py
Due: ruff check, deal lint, mypy

Actually fix the wrong contract checking repeating characters
  dumbpw/engine.py
Due: ruff check, deal lint, mypy

Migrate coverage reporting workflow to pin to digest, and update
  .github/workflows/coverage.yaml
Due: none

Stop using relative imports
  dumbpw/charspace.py
  dumbpw/cli.py
  dumbpw/engine.py
Due: ruff check, deal lint, mypy

Maybe it would help if we source controlled settings.py
  dumbpw/settings.py
Due: ruff check, deal lint, mypy

poetry update
  poetry.lock
Due: none

ruff target-version = py313
  ruff.toml
Due: none

ruff ignore .pythonrc.py
  ruff.toml
Due: none

Remove pygrep-hooks that ruff is now handling
  .pre-commit-config.yaml
Due: none

Don't shellcheck the envrc
  .envrc
Due: none

Add qa ignore for SIM115
  dumbpw/cli.py
Due: ruff check, deal lint, mypy

No flake8 noqa: we use ruff now!
  .pythonrc.py
Due: ruff check, deal lint, mypy

Add python 3.13 classifier
  pyproject.toml
Due: pyproject.toml, pylic
