Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

.pre-commit-config.yaml:

---
default_stages: [commit]

repos:
  - repo: meta
    hooks:
      # - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      # We re-set the `stages` setting because pre-commit-hooks over-rides it
      # otherwise.
      # See https://github.com/pre-commit/pre-commit-hooks/issues/515
      - id: end-of-file-fixer
        stages: [commit]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]

      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0  # Use the ref you want to point at
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/PyCQA/doc8
    rev: 0.10.1
    hooks:
      - id: doc8

  - repo: local
    hooks:
      - id: pytest
        name: run all tests
        stages: [push]
        language: system
        entry: poetry run pytest --full-trace
        pass_filenames: false

      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: version
        name: verify version is set correctly
        language: system
        entry: pytest --quiet --no-header --no-summary --no-cov -k version
        files: 'pyproject\.toml|downforeveryone/__init__.py'
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [python]

      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types: [shell]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

Add LICENSE
  LICENSE
Due: none

Initial project files
  .coveragerc
  .editorconfig
  .envrc
  mypy.ini
  renovate.json
  setup.cfg
Due: none

rm downforeveryone cruft
  .pre-commit-config.yaml
Due: none

Add poetry config
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Add starter README
  README.rst
Due: none

Add circleci config
  .circleci/config.yml
Due: none

Rename to dumbpw
  README.rst
Due: none

Add click
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Add module
  dumbpw/__init__.py
  tests/__init__.py
Due: isort, black, flake8, mypy

Add flake8 plugins and deal
  pyproject.toml
Due: pyproject.toml, version

Add deal.mypy plugin
  pyproject.toml
Due: pyproject.toml, version

Move flake8 plugins to dev dependencies
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Add version reporting
  dumbpw/__init__.py
Due: isort, black, flake8, mypy

Add first try at using deal
  dumbpw/pwgen.py
  tests/test_pwgen/__init__.py
  tests/test_pwgen/conftest.py
  tests/test_pwgen/test_pwgen.py
Due: isort, black, flake8, mypy

poetry update
  poetry.lock
Due: none

Set python version to 3.10
  .circleci/config.yml
  pyproject.toml
Due: pyproject.toml, version

Function has 'random' via secrets
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Remove flake8-pytest-style
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Settle on long-form deal test syntax
  tests/test_pwgen/test_pwgen.py
Due: isort, black, flake8, mypy

Add function docstring and simplify return statement
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Remove raises(IndexError) contract
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Add contracted argument value checking
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Add contracted return value checking
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Add post check for password composition from keyspace
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Remove coverage reporting from CI runs
  .circleci/config.yml
  README.rst
  pyproject.toml
Due: pyproject.toml, version

rm |COVERAGE| glyph from readme
  README.rst
Due: none

This function is not private
  dumbpw/pwgen.py
  tests/test_pwgen/test_pwgen.py
Due: isort, black, flake8, mypy

Add pytest_ini to pyproject
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

rm unused conftest.py
  tests/test_pwgen/conftest.py
Due: isort, black, flake8, mypy

Fix typo in precondition message
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Take a Set or FrozenSet for the keyspace
  dumbpw/pwgen.py
  tests/test_pwgen/test_pwgen.py
Due: isort, black, flake8, mypy

Fix contracts to understand that keyspace is a set
  dumbpw/pwgen.py
  tests/test_pwgen/test_pwgen.py
Due: isort, black, flake8, mypy

Remove flake8-breakpoint
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Remove max_length constraint from generate()
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Revert "Remove max_length constraint from generate()"
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Add charspace object
  dumbpw/charspace.py
  tests/test_charspace/__init__.py
Due: isort, black, flake8, mypy

Rename keyspace to charspace
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Coerce charset type to a string
  dumbpw/charspace.py
Due: isort, black, flake8, mypy

Add docstring to charset property
  dumbpw/charspace.py
Due: isort, black, flake8, mypy

Use Charset type when generating passwords
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy
