Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, ruff format, ruff check, deal lint, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

ruff format:
  name: ruff format
  language: system
  entry: poetry run ruff format
  pass_filenames: true

ruff check:
  name: ruff check
  language: system
  entry: poetry run ruff check --fix
  pass_filenames: true

deal lint:
  name: deal lint
  language: system
  entry: poetry run python3 -m deal lint

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

First rewrite for procedural generation
  dumbpw/engine.py
  tests/test_engine/test_generate.py
Due: ruff format, ruff check, deal lint, mypy

Add contract for incoherent specials requirements
  dumbpw/engine.py
  tests/test_engine/test_search.py
Due: ruff format, ruff check, deal lint, mypy

Add handler for addition operator
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Shuffle the password until there's no repeats
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Add Candidate.shuffle() method
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Simplify return statement
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Use password.shuffle() instead of manual
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Make sure we always shuffle the password
  dumbpw/engine.py
  ruff.toml
Due: ruff format, ruff check, deal lint, mypy

Rewrite shuffle method to return a copy
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Use addition to build the candidate
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Refactor to account for recent changes
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Remove main caveat from the README
  README.rst
Due: none

Bump version to 1.0.3
  pyproject.toml
Due: pyproject.toml

Add .extend method to a Candidate
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Use new Candidate.extend() method for composition
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Rename test var c -> x
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Rename Candidate.password to Candidate._text
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Set frozen=True on Settings
  dumbpw/settings.py
Due: ruff format, ruff check, deal lint, mypy

Move Settings into cli module
  dumbpw/cli.py
  dumbpw/settings.py
Due: ruff format, ruff check, deal lint, mypy

Revert "Move Settings into cli module"
  dumbpw/cli.py
  dumbpw/settings.py
Due: ruff format, ruff check, deal lint, mypy

Do deal.activate() on module init
  dumbpw/__init__.py
  dumbpw/cli.py
  dumbpw/constants.py
  dumbpw/engine.py
Due: ruff format, ruff check, deal lint, mypy

Add test for when there's no minimums
  tests/test_engine/test_search.py
Due: ruff format, ruff check, deal lint, mypy

Rename tests for easier discovery
  tests/test_engine/test_search.py
Due: ruff format, ruff check, deal lint, mypy

Add test_settings
  tests/test_cli/test_settings.py
Due: ruff format, ruff check, deal lint, mypy

Fix docstring linter error
  dumbpw/cli.py
Due: ruff format, ruff check, deal lint, mypy

Clear SIM115 with a context manager
  dumbpw/cli.py
Due: ruff format, ruff check, deal lint, mypy

Ignore TD ruff errors
  dumbpw/engine.py
  ruff.toml
Due: ruff format, ruff check, deal lint, mypy

Show more defaults
  dumbpw/cli.py
Due: ruff format, ruff check, deal lint, mypy

Remove another errant deal.activate()
  dumbpw/candidate.py
Due: ruff format, ruff check, deal lint, mypy

Set a better docstring for the cli entrypoint
  dumbpw/cli.py
Due: ruff format, ruff check, deal lint, mypy

Update installation and usage text
  README.rst
Due: none

Rename candidate test functions
  tests/test_candidate/test_candidate.py
Due: ruff format, ruff check, deal lint, mypy

Stop subclassing Candidate from str
  dumbpw/candidate.py
  dumbpw/engine.py
  tests/test_candidate/test_candidate.py
Due: ruff format, ruff check, deal lint, mypy

Add special methods to Candidate
  dumbpw/candidate.py
  tests/test_candidate/test_candidate.py
Due: ruff format, ruff check, deal lint, mypy

uvx migrate-to-uv
  poetry.lock
  pyproject.toml
  uv.lock
Due: pyproject.toml

Migrate pre-commit shell steps to uv
  .pre-commit-config.yaml
Due: none

Migrate dev setup docs to uv
  README.rst
Due: none

Bump version to 1.0.4
  pyproject.toml
Due: pyproject.toml

Fix license field to match core metadata
  pyproject.toml
Due: pyproject.toml

Set uv_build for the build-backend
  pyproject.toml
Due: pyproject.toml

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  ruff format: any of: \.py$
  ruff check: any of: \.py$
  deal lint: any of: \.py$
  mypy: any of: \.py$
