Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

version:
  name: verify version is set correctly
  language: system
  entry: pytest --quiet --no-header --no-summary --no-cov -k version
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

Migrate from circleci to github actions
  .circleci/config.yml
  .github/workflows/integration.yaml
Due: none

Rename stuff in readme
  README.rst
Due: none

Try to fix workflow
  .github/workflows/integration.yaml
Due: none

This is the test runner
  .github/workflows/integration.yaml
Due: none

This is duplicating everything but whatever
  .github/workflows/integration.yaml
Due: none

I'm trying to test on 3.6 and up, let's see what happens
  pyproject.toml
Due: pyproject.toml, version

Actually 3.6 is dead
  .github/workflows/integration.yaml
  pyproject.toml
Due: pyproject.toml, version

Fail fast since this takes for-f-cking-ever
  .github/workflows/integration.yaml
Due: none

Ignore .pythonrc in pyproject.toml
  .envrc
  pyproject.toml
Due: pyproject.toml, version

Let's try this for a build badge
  README.rst
Due: none

poetry lock
  poetry.lock
Due: none

Catch ModuleNotFoundError for py3.7
  dumbpw/__init__.py
Due: isort, black, flake8, mypy

Revert "Catch ModuleNotFoundError for py3.7"
  dumbpw/__init__.py
Due: isort, black, flake8, mypy

Remove python 3.7 from runtime deps
  pyproject.toml
Due: pyproject.toml, version

Remove python 3.7 from test matrix
  .github/workflows/integration.yaml
Due: none

Try to fix build badge
  README.rst
Due: none

No really, fix the badge
  README.rst
Due: none

Shorten workflow name, add link to docs
  .github/workflows/integration.yaml
Due: none

Bump version to v0.3.4
  pyproject.toml
Due: pyproject.toml, version

Add coverage reporting to pytest
  .gitignore
  pyproject.toml
Due: pyproject.toml, version

Set testpaths rather than ignoring pythonrc
  pyproject.toml
Due: pyproject.toml, version

Add more python ignores
  .gitignore
Due: none

Add baseline for configuring the list of specials
  dumbpw/cli.py
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Omit tests from test coverage (duh?)
  .coveragerc
Due: none

Simplify module version setting
  dumbpw/__init__.py
  tests/test_module/__init__.py
  tests/test_module/test_module.py
Due: isort, black, flake8, mypy

Add missing test coverage for candidate.copy method
  tests/test_candidate/test_candidate.py
Due: isort, black, flake8, mypy

Don't report on empty files
  .coveragerc
Due: none

Put all coverage reports in cov/
  .coveragerc
  .gitignore
Due: none

Add codeclimate github action workflow
  .github/workflows/codeclimate.yaml
Due: none

Add 'on:' trigger for codeclimate action
  .github/workflows/codeclimate.yaml
Due: none

I love source controlled CI
  .github/workflows/codeclimate.yaml
Due: none

Put codeclimate all in one workflow for now
  .github/workflows/codeclimate.yaml
  .github/workflows/integration.yaml
Due: none

Run CI only when certain things change
  .github/workflows/integration.yaml
Due: none

Attach path filters to main branch runs
  .github/workflows/integration.yaml
Due: none

Specify coverage.xml is from coverage.py
  .github/workflows/integration.yaml
Due: none

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Fix cruft for CC_TEST_REPORTER_ID
  .github/workflows/integration.yaml
Due: none

Re-run workflow if the workflow itself changed
  .github/workflows/integration.yaml
Due: none

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  version: any of: pyproject\.toml|downforeveryone/__init__.py
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
