Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

pyproject.toml:
  name: validate pyproject.toml
  language: system
  entry: poetry check
  pass_filenames: false

version:
  name: verify version is set correctly
  language: system
  entry: pytest --quiet --no-header --no-summary --no-cov -k version
  pass_filenames: false

isort:
  name: isort
  language: system
  entry: poetry run isort

black:
  name: black
  language: system
  entry: poetry run black

flake8:
  name: flake8
  language: system
  entry: poetry run flake8

mypy:
  name: mypy
  language: system
  entry: poetry run mypy

black = "^22.3.0"
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

flake8-bandit = "^3.0.0"
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Make Candidate a subclass of str
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Remove tests for string properties
  tests/test_candidate/test_candidate.py
Due: isort, black, flake8, mypy

Remove pass-through property to _password
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Don't raise catchable exceptions in generate()
  dumbpw/pwgen.py
Due: isort, black, flake8, mypy

Add doctests for Candidate._count_string_type
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

poetry update
  poetry.lock
Due: none

Bump version to v0.3.3
  pyproject.toml
Due: pyproject.toml, version

Add .envrc.local sourcing
  .envrc
  .gitignore
Due: none

Add doctests for Candidate.lowers property
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Rename pwgen.py to engine.py
  dumbpw/cli.py
  dumbpw/engine.py
  tests/test_engine/__init__.py
  tests/test_engine/test_engine.py
Due: isort, black, flake8, mypy

Migrate mypy.ini into pyproject.toml
  mypy.ini
  pyproject.toml
Due: pyproject.toml, version

Return a Candidate instead of casting it to str
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Add search ensure contracts
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Print errors to stderr
  dumbpw/cli.py
Due: isort, black, flake8, mypy

Call sys.exit instead of returning from cli
  dumbpw/cli.py
Due: isort, black, flake8, mypy

Explicitly name validator argument
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Use more simplified signatures
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Make bin/ dir for executables
  bin/ship
Due: none

Revert "Explicitly name validator argument"
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Remove strict function parameter marker
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Change cli return type to NoReturn
  dumbpw/cli.py
Due: isort, black, flake8, mypy

Add decorations from deal linter
  dumbpw/candidate.py
  dumbpw/charspace.py
  dumbpw/cli.py
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Restore strict parameter marker
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Update to 3.10.2 in CI
  .circleci/config.yml
Due: none

Whitespace, formatting
  setup.cfg
Due: none

Simplify algorithm for Candidate.has_duplicates
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Fix sp
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Simplify (arguably) Candidate.has_duplicates even further
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Remove some unnecessary flake8 ignores
  setup.cfg
Due: none

Link to duffn/dumb-password-rules
  README.rst
Due: none

Add link to Apple's password validation tool
  README.rst
Due: none

Lock black to any version
  pyproject.toml
Due: pyproject.toml, version

Add some tests
  dumbpw/candidate.py
  tests/test_candidate/test_candidate.py
Due: isort, black, flake8, mypy

Fix unused type: ignore comment
  dumbpw/cli.py
Due: isort, black, flake8, mypy

sort dev-dependencies because I'm a pedant
  pyproject.toml
Due: pyproject.toml, version

Path conditions:
  pyproject.toml: any of: pyproject\.toml
  version: any of: pyproject\.toml|downforeveryone/__init__.py
  isort: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  mypy: any of: \.py$
