Repository rpdelaney/dumbpw: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyproject.toml, version, isort, black, flake8, mypy

.pre-commit-config.yaml:

---
default_stages: [commit]

repos:
  - repo: meta
    hooks:
      # - id: check-hooks-apply
      - id: check-useless-excludes

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      # We re-set the `stages` setting because pre-commit-hooks over-rides it
      # otherwise.
      # See https://github.com/pre-commit/pre-commit-hooks/issues/515
      - id: end-of-file-fixer
        stages: [commit]
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        stages: [commit]
      - id: check-executables-have-shebangs
        stages: [commit]

      - id: mixed-line-ending
        args: [--fix=lf]
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: detect-private-key
      - id: check-docstring-first
      - id: check-toml
      - id: check-yaml

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.9.0  # Use the ref you want to point at
    hooks:
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-use-type-annotations
      - id: python-use-type-annotations
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  - repo: https://github.com/PyCQA/doc8
    rev: 0.10.1
    hooks:
      - id: doc8

  - repo: local
    hooks:
      - id: pytest
        name: run all tests
        stages: [push]
        language: system
        entry: poetry run pytest --full-trace
        pass_filenames: false

      - id: pyproject.toml
        name: validate pyproject.toml
        language: system
        entry: poetry check
        files: 'pyproject\.toml'
        pass_filenames: false

      - id: version
        name: verify version is set correctly
        language: system
        entry: pytest --quiet --no-header --no-summary --no-cov -k version
        files: 'pyproject\.toml|downforeveryone/__init__.py'
        pass_filenames: false

      - id: isort
        name: isort
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        language: system
        entry: poetry run flake8
        types: [python]

      - id: shellcheck
        name: shellcheck
        language: system
        entry: shellcheck
        types: [shell]

      - id: mypy
        name: mypy
        language: system
        entry: poetry run mypy
        types: [python]

Try running 'coverage' as part of the reporting job
  .github/workflows/integration.yaml
Due: none

Maybe coverage reporting really should be its own workflow
  .github/workflows/coverage.yaml
  .github/workflows/integration.yaml
Due: none

Don't re-run integration because coveragerc changed
  .github/workflows/integration.yaml
Due: none

Run coverage inside poetry venv
  .github/workflows/coverage.yaml
Due: none

Set default charspace components in constants
  dumbpw/charspace.py
  dumbpw/constants.py
Due: isort, black, flake8, mypy

I need to activate deal here for some reason now
  dumbpw/charspace.py
Due: isort, black, flake8, mypy

Mark pure modules as such
  dumbpw/candidate.py
  dumbpw/charspace.py
  dumbpw/constants.py
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Set default blocklist in constants
  dumbpw/cli.py
  dumbpw/constants.py
Due: isort, black, flake8, mypy

Remove PYTEST_ADDOPTS from envrc
  .envrc
Due: none

Use simpler deduplication method
  dumbpw/charspace.py
Due: isort, black, flake8, mypy

Return sets, because why not
  dumbpw/charspace.py
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Run coverage check only on push
  .pre-commit-config.yaml
  pyproject.toml
Due: pyproject.toml, version

poetry update
  poetry.lock
Due: none

Rename password length constants
  dumbpw/cli.py
  dumbpw/constants.py
Due: isort, black, flake8, mypy

Fix charspace_args parameter
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Add baseline for configuring the list of specials
  dumbpw/cli.py
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Set default values for specials cli parameter
  dumbpw/cli.py
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Fix search function test that ran forever
  tests/test_engine/test_engine.py
Due: isort, black, flake8, mypy

Consistency with positional arguments for contracts
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Bump version to v0.4.0
  pyproject.toml
Due: pyproject.toml, version

Document new --specials arg
  README.rst
Due: none

Fix misnamed constant
  dumbpw/engine.py
Due: isort, black, flake8, mypy

pre-commit autoupdate
  .pre-commit-config.yaml
Due: none

Remove no-longer-needed type: ignore comments
  dumbpw/candidate.py
Due: isort, black, flake8, mypy

Remove more no-longer-needed type: ignore comments
  dumbpw/charspace.py
Due: isort, black, flake8, mypy

Relax version constraints on dev dependencies
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Update author email
  pyproject.toml
Due: pyproject.toml, version

Pin mypy to >=0.981
  poetry.lock
  pyproject.toml
Due: pyproject.toml, version

Split tests for generate() and search() into separate files
  tests/test_engine/test_generate.py
  tests/test_engine/test_search.py
Due: isort, black, flake8, mypy

Test passwords with length 30
  tests/test_engine/test_search.py
Due: isort, black, flake8, mypy

Add precondition for conflicts between specials and blocklist
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Simplify logic for computing the set of extras in the charspace
  dumbpw/engine.py
Due: isort, black, flake8, mypy

Add test for blocklist argument
  tests/test_engine/test_search.py
Due: isort, black, flake8, mypy

Update shared action versions in coverage workflow
  .github/workflows/coverage.yaml
Due: none

Ignore dumbpw/cli.py in coverage reporting
  .coveragerc
  pyproject.toml
Due: pyproject.toml, version

Add concurrency for coverage reporting
  .coveragerc
Due: none

Set coverageCommand to generate report with pytest
  .github/workflows/coverage.yaml
Due: none

Try to suppress health check when running in CI
  tests/conftest.py
Due: isort, black, flake8, mypy
